{
  "extends": ["react-app"],
  "parserOptions": {
    "babelOptions": {
      "parserOpts": {
        "plugins": ["importAssertions"]
      }
    }
  },
  "plugins": ["simple-import-sort"],
  "rules": {
    "quotes": [
      "warn",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "react-hooks/exhaustive-deps": [
      1,
      {
        "enableDangerousAutofixThisMayCauseInfiniteLoops": true
      }
    ]
  }
}
